<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-inline">
                            <input class="form-control" placeholder="Enter Todo" type="text" ng-model="todo.title" required min="1"/>
                            <input type="submit" class="btn btn-primary" ng-click="addTodo(todo)" value="Add" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">To Do List</div>

                <div class="panel-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <lable class="control-label">Search by Title:</lable>
                            <input ng-model="query" class="form-control">
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                        <th>Title</th>
                        <th>Due Date</th>
                        <th>Completed On</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="todo in todos | filter:query">
                            <td>{{todo.title}}</td>
                            <td>{{todo.dueDate | date:"MMM d, y h:mm a"}}</td>
                            <td>{{todo.completedDate | date:"MMM d, y h:mm a"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
